<article class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ .Params.subtitle }}
        </h3>
        {{ end }}
    </a>
    
    <div class="post-entry">
        {{ if .Params.excerpt }}
        {{ .Params.excerpt}}

            <div>
            <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
            </div>
        
        {{ else }}
        {{slicestr .Summary 0 300 | markdownify }}
        
           <div>
            <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
            </div>
        {{ end }}
    </div>

</article>
